/*Se coloca imagen de fondo en el body*/
body {
    background-image: url(../Imagenes/sandwich.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/*display grid para organizar los elementos*/
section{
    display: grid;
    /*4 filas y 1 columna - Titulo, sabores y boton volver a la página menú*/
    grid-template-columns: 100%;
    grid-template-rows: 3rem auto 40px 40px;
    align-content: space-around; /*posicionamiento horizontal repartido*/
    justify-content: center;
}

/*alineación del texto dentro del box contenedor*/
.listado__alineacion{
    width: auto;
    justify-content: space-around;
    padding: 1rem;
}

/*estilo del box con los listados de los tipo de sandwich*/
section div ul {
    list-style: none;
    background-color: #efefef;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
}

/*formato texto "Nuestros sandwiches"*/
section h1{
    color: white;
    text-align: center;
    font-size: 3rem;
}

/*pongo los títulos de los tipos de sandwich en negrita*/
section div p{
    font-size: 1rem;    
    font-weight: bold;
}

/*formato del la nota de agregar papas*/
.nota__estilo{
    text-align: center;
    margin: auto auto;
    color: red;
    font-size: 2rem;
    font-weight: bold;
}

/*agrego formato a los subitems del listado*/
.lista_estilo{
    list-style-type: disc;/*se agregan discos*/
    margin-left: 2rem; /*se le da una sangria*/
}

/*pisicionamiento del cuadro con los tipos de sandwich*/
.listado__fondo{
    display: flex;
    justify-content: center;
}

/*posicionamiento del botón volver a la página de menúes*/
.button__position{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*formato del texto dentro del botón*/
.link_volver{
    font-weight: bold;
    text-decoration: none;
    border: solid 1px;
    text-align: center;
    border-radius: 0.5rem;
    color: black;
    background-color: #efefef;
    padding: 0.5rem;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------COMPORTAMIENTO DE PANTALLA TAMAÑO CEL--------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    /*alineacion de elementos*/
    section {
        grid-template-rows: 0.5fr auto 1fr 1fr;
        margin-top: 1rem;
    }

    /*Redimensionamiento de título*/
    section h1{
        font-size: 1.5rem;
    }

    /*formato del la nota de agregar papas*/
    .nota__estilo{
        font-size: 1.5em;
        padding: 0 1rem;
    }

    /*alineación del texto dentro del box contenedor*/
    .listado__alineacion{
        width:70%;
        height: 20rem;
        padding: 1rem;
        justify-content: space-around;
    }
}