/*----------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------INICIALIZACIONES----------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/

/*se coloca un color de fonde gris para que resalte texto e imagen*/
.body__background{
    background-color: #efefef;
}

/*----------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------COMPORTAMIENTO SECTION NOSOTROS--------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/

/*Se genera un display grid de 2 columnas para posicionar la imagen y el texto; ambos centradas*/
section{
    grid-area: section;
    display: grid;
    grid-template-columns: 50% 50%; /*cada proción ocupa el 50% de la pantalla*/
    grid-template-rows: 400px; /*se indica que el alto del div sea el alto de la imagen para */
    align-content: center;
}

/*Clase que se llama desde el div contenedor de la imagen para ubicarla*/
.section__image{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*Clase que se llama desde el div contenedor del texto para ubicarlo*/
.section_texto{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: flex-start;

}

/*formato del título SOBRE NOSOTROS*/
section div h1{
    margin-top: 0;
    padding-top: 0;
    font-size: 3rem;
}

/*Formato de texto descriptivo "SOBRE NOSOTROS"*/
section div p{
    font-size: 1.5rem;
    text-align: justify;
}
/*----------------------------------------------------------------------------------------------------------------*/
/*-----------------------------------COMPORTAMIENTO DE PANTALLA TAMAÑO TABLET-------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1270px) {
    /*Se redimensiona section a 1 columna 1 2 filas*/
    section{
        grid-template-columns: 90%; /*90% para poder centrar texto e imagen y que quede un padding automatico*/
        grid-template-rows: 50% 50%; 
        justify-content: center; /*se alinean elementos al centro de la pantalla*/
        align-content: center;
    }
    .section_texto{
        justify-self: center;
    }

    /*Se escala la imagen al 50% del tamaño original para que entre en la pantalla*/
    section div img{
        transform: scale(0.8,0.8);
    }

}

/*----------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------COMPORTAMIENTO DE PANTALLA TAMAÑO CEL--------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 600px) {
    /*Se redimensiona section a 1 columna 1 2 filas*/
    section{
        grid-template-columns: 90%; /*90% para poder centrar texto e imagen y que quede un padding automatico*/
        grid-template-rows: 50% 50%; 
        justify-content: center; /*se alinean elementos al centro de la pantalla*/
    }

    /*Se coloca imagen en la parte inferior del DIV para que quede un poco más cerca del texto*/
    .section__image{
        align-content: center;
    }

    /*Se escala la imagen al 50% del tamaño original para que entre en la pantalla*/
    section div img{
        transform: scale(0.5,0.5);
    }

    /*Se redimensiona tamaño de textos*/
    section div h1{
        font-size: 2rem;
    }

    .section_texto{
        width: 100%;
    }

    section div p{
        font-size: 1rem;
    }
}

